<!DOCTYPE html>
<html lang="en">
  <% include partials/page/header.ejs %>

  <body>
  <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
<head>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" /> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" /> <!-- load fontawesome -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <div id="create_title"><h1>Add a new file to 
    <% if (isrepo) { %>
      <%= repo %>
    <% } %>
    <%= path %></h1>
<!--   <div id="new_project_desc">
    A new repository with prefix CMS_numpy_ under the given name would be created in your Github account.
  </div> -->
  </div>
  <div id="add_project">
    <form method="POST" action="/add_file" enctype="multipart/form-data">
<!--         Project: <input type="file" name="multiInputFileName" id="project_upload" size="chars">
 -->        
        File:
        <input type="file" name="multiInputFileName" id="project_upload" size="chars">
        Name:
        <input type="text" name="file_name" id="file_name" size="chars">
        <input type="text" name="repo_name" id="repo_name" size="chars" value="<%= repo %>">
        <input type="text" name="path" id="repo_name" size="chars" value="<%= path %>">
        <input type="text" name="isrepo" id="repo_name" size="chars" value="<%= isrepo %>">
        <input type="submit" id="project_submit" value="Submit" class="btn btn-info">
    </form>
  </div>
  <script>
  </script>
</body>