<!DOCTYPE html>
<html lang="en">
  <% include partials/page/header.ejs %>

  <body>
  <% include partials/page/jsdefaults.ejs %>
  </body>
</html>
<head>
  <title>Content Management</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
	<body>
		<div id="title">
			<h1 id="main_title"><%= title %></h1>
      <button class="btn btn-info add_file" id="add_file">Add a File</button>
      <button class="btn btn-info add_file" id="delete_project">Delete Project</button>
		</div>
    <div id="project_content">
	    <ul class = "list-group">
	    	<% for(var i=0; i<project.length; i++) {%>
			    <a class="list-group-item" href="/content/?sha=<%= project[i].sha%>&name=<%= project[i].name%>&type=<%= project[i].type%>&path=<%= project[i].path%>">
            <% if (project[i].type == "blob" || project[i].type == "file") { %>
              <span class="glyphicon glyphicon-file"></span>
            <% } else { %>
              <span class="glyphicon glyphicon-folder-open"></span>
            <% } %>
            
            <%= project[i].name %>
          </a>
			  <% } %>
		  </ul>
	 </div>
  </body>

  <script>
    var add_file = document.getElementById("add_file");

    add_file.onclick = function() {
      $('input[type=file]').trigger('click');
    };
  </script>
</html>
